{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="text-3xl font-bold">Welcome to the Mappix application</h1>

	<div class="map-container">
		<div class="map-layers">
			<img class="map-layers-icon" src="icons/layers_map.png" alt="Layers Map">
		</div>
		<div class="map-center">
			<img class="map-center-icon" src="icons/center_map.png" alt="Center Map">
		</div>

		<div data-controller="map geolocate" data-map-categories-value="{{ categories|json_encode }}" data-map-token-value="{{ csrf_token }}" style="height: 100%; width: 100%;"></div>

	</div>

	<div class="map-details">
		{% include 'map/_map_details_none.html.twig' %}
	</div>
{% endblock %}
