{% extends 'base.html.twig' %}

{% block body %}
	<h1>Welcome to the Mappix application</h1>

	<div data-controller="map" data-map-categories-value="{{ categories|json_encode }}" data-map-token-value="{{ csrf_token }}" style="height: 600px;"></div>

	<div id="local_data"></div>

    {% include 'map/_map_details_none.html.twig' %}
{% endblock %}
