{% extends 'base.html.twig' %}

{% block body %}
	<h1>Welcome to the Mappix application</h1>

	<div class="map-container">

		<div data-controller="map geolocate" data-map-categories-value="{{ categories|json_encode }}" data-map-token-value="{{ csrf_token }}" style="height: 100%; width: 100%;"></div>

	</div>

	{% include 'map/_map_details_none.html.twig' %}
{% endblock %}
