{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="text-3xl font-bold mt-3 mb-3 text-center">Carte des lieux d'intérêt</h1>

	<div class="map-container">
		<div class="map-layers">
			<div class="map-layers-button">
				<img class="map-layers-icon" src="icons/layers_map.png" alt="Layers Map">
			</div>
		</div>
		<div class="map-center-button">
			<img class="map-center-icon" src="icons/center_map.png" alt="Center Map">
		</div>

		<div data-controller="map geolocate" data-map-categories-value="{{ categories|json_encode }}" data-map-token-value="{{ csrf_token }}" style="height: 100%; width: 100%;"></div>

	</div>

	<div id="map-details">
		{% include 'map/_map_details_none.html.twig' %}
	</div>
{% endblock %}
