{% extends 'base.html.twig' %}

{% block title %}Événements{% endblock %}

{% block body %}


{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


{% endblock %}
