@import "tailwindcss";
@source not "../../public";
body {
    background-color: skyblue;
}

/*
 * Map CSS
 */

.map-container {
  width: 100%;
  height: 500px;

  .leaflet-control-zoom {
    background-color: blue;
  }

  .leaflet-top.leaflet-left {
    top: auto;
    left: auto;
    right: 1.5rem;
    bottom: 1.5rem;
  }
}

