@import "tailwindcss";
@source not "../../public";
body {
    background-color: skyblue;
}

/*
 * Map CSS
 */

.map-container .leaflet-top.leaflet-left {
    top: auto;
    left: auto;
    right: 1.5rem;
    bottom: 1.5rem;
}
