body {
    background-color: skyblue;
}

/*
 * Map CSS
 */

.map-container .leaflet-top.leaflet-left {
    top: auto;
    left: auto;
    right: 1.5rem;
    bottom: 1.5rem;
}
#calendar {
    max-width: 900px;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
}
