/*
 * Map Customization with CSS
 */

.map-container {
    position: relative;
    width: 100%;
    height: 500px;

    .leaflet-control-zoom {
        background-color: blue;
    }

    .leaflet-top.leaflet-left {
        top: auto;
        left: auto;
        right: 1.5rem;
        bottom: 1.5rem;
    }

    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
        background-color: #f4f4f4;
        border: 1px solid black;
        box-shadow: 0.1rem 0.1rem 0.5rem black;
    }

    .leaflet-marker-icon {
        border-radius: 50%;
        border: 2px solid white;
        box-shadow: 0.1rem 0.1rem 0.5rem black;
        backdrop-filter: blur(5px);

        /* Workaround for Leaflet's default marker styling not centered */
        display: flex;
        align-items: center;
        justify-content: center;

        >div {
            padding: 0;
            margin: 0;
            border-radius: 0.25rem;
            border-radius: 50%;
        }
    }

    .leaflet-popup {
        box-shadow: 0.1rem 0.1rem 0.5rem black;
        border-radius: 0.5rem;

        p {
            margin: 0.5rem 0;
        }
    }

    .leaflet-popup-tip {
        box-shadow: 0.1rem 0.1rem 0.5rem black;
    }

    .leaflet-popup-content-wrapper {
        border-radius: 0.5rem;
        background-color: #f4f4f4;
    }
}

/* Map Layer Control Styles */

.map-layer-group {
    padding: 0.5rem;
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 0.5rem;
}

.map-layer-icon {
    width: 1.5rem;
    height: 1.5rem;

    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.map-layer-toggle {
    width: 100%;
    background-color: #f4f4f4;
    border: 1px solid black;
    box-shadow: 0.1rem 0.1rem 0.5rem black;
    color: #333;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:hover {
        background-color: #e0e0e0;
    }

    img,
    span,
    .map-layer-toggle-led {
        pointer-events: none;
        user-select: none;
    }

    span {
        text-align: left;
        flex: 1;
    }
}

.map-layer-toggle-led {
    z-index: 2000;
    width: 0.8rem;
    height: 0.8rem;
    background-color: rgb(12, 136, 12);
    box-shadow: 0 0 0.2rem rgb(7, 82, 7);
    border-radius: 50%;
}

.map-layer-toggle-active {
    background-color: #c0c0c0;
    box-shadow: none;
    color: #333;

    transition: all 0.3s ease;

    .map-layer-toggle-led {
        z-index: 2000;
        width: 0.8rem;
        height: 0.8rem;
        background-color: #d23131;
        box-shadow: 0 0 0.2rem #7c2121;
        border-radius: 50%;
    }
}


.map-layers,
.map-center-button {
    position: absolute;
    z-index: 1000;
    background-color: #f4f4f4;
    border: 1px solid black;
    box-shadow: 0.1rem 0.1rem 0.5rem black;
    color: white;
    border-radius: 0.25rem;
}

.map-layers {
    top: 1.5rem;
    left: 1.5rem;
    right: auto;
    bottom: auto;
}

.map-layers-button {
    cursor: pointer;
    width: fit-content;
}

.map-layers-icon,
.map-center-icon {
    margin: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    user-select: none;
    pointer-events: none;
    display: inline-block;
}

.map-center-button {
    top: 1.5rem;
    left: auto;
    right: 1.5rem;
    bottom: auto;
    cursor: pointer;
}

.map-details {
    margin-top: 1.5rem;

    background-color: #333;
    color: #EEE;
    width: 100%;
    height: 100%;

    border-radius: 0.5rem;
    padding: 1rem;
}