/*
 * Map Customization with CSS
 */

.map-container {
    position: relative;
    width: 100%;
    height: 500px;

    .leaflet-control-zoom {
        background-color: blue;
    }

    .leaflet-top.leaflet-left {
        top: auto;
        left: auto;
        right: 1.5rem;
        bottom: 1.5rem;
    }
}

.map-layers {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 1000;
    background-color: #f4f4f4;
    border: 1px solid black;
    box-shadow: 0.1rem 0.1rem 0.5rem black;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;

    svg {
        width: 1.5rem;
        height: 1.5rem; 
    }
}

.map-details {
    margin-top: 1.5rem;

    background-color: #333;
    color: #EEE;
    width: 100%;
    height: 100%;
}