<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>

	{% block stylesheets %}
	{{ vite_entry_link_tags('app') }}
	{% endblock %}

	{% block javascripts %}
	{{ vite_entry_script_tags('app') }}
	{# Inclusion du JS personnalisé avec AssetMapper #}
	<script src=""></script>
	{% endblock %}

</head>

<body>
	{% block body %}{% endblock %}
</body>

</html>